<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">templates/index.html
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>templates/index.html
<body>
    <h1>訪客:{{content['name']}}</h1>
    <h1>登入時間:{{content['date']}}</h1>
    <ul>
        <li><a href="../stock">亞股資訊</a><br></li>
        <li><a href="../lottory">大樂透</a><br></li>
        <li><a href="../pm25">PM2.5</a><br></li>
        <li><a href="../pm25-charts">PM2.5圖表</a><br></li>
    </ul>
</body>
</html>